%h2= current_user.name
-if user_signed_in?
  %ul
    -@appointments.each do |appointment|
      -if appointment.user_id == current_user.id
        %li
          =appointment.recommendation
          =appointment.created_at.strftime("%d.%m.%Y, %H:%M")
          -if appointment.opens
            %sapn open
          -else
            %sapn closed