%h2= @doctor.name
-if @currect_appointment && @doctor.allow_new_appointments?
  %p Registration closed
-else
  =render "appointmet_btn"
%ul
  -@appointments.each do |appointment|
    %li
      =appointment.created_at
      =appointment.recommendation